:root {
    --white: #f4f6f6;
    --black: #1E1E1E;
    --darkblue: #001064;
    --lightblue: #3e82d3;
    --gold: #C69C08;
    --green: #038103;
    --yellow: #c4bc1e;
    --red: #dc0000;
    --primary: var(--black);
    --bg: var(--white);
    --knop: var(--darkblue);
    --golddetail: var(--gold);

}

*, ::after, ::before {
    box-sizing: border-box
}

html {
    background-color: var(--bg);
    font-family: 'Josefin Sans', sans-serif;
    color: var(--primary)
}

body {
    margin: 0;
}


.conainer{
    max-width: 120rem;
    margin: 0 auto;
    padding: 1rem;

}
button :hover{
    cursor: pointer;
}

/* startscherm */

.box_logo {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.box_logo img {
    width: auto;
    height: 60%;
    margin: auto 0;
}

.knopbox {
    display: flex;
    justify-content: center;
}

.knopbox ul {
    padding-inline-start: 0;
}

.knopbox ul li {
    list-style: none;
    margin: 1rem 0;
    border: 2px solid var(--black);
    background: var(--darkblue);
    border-radius: .625rem;
    text-align: center;
    padding: .5rem 1.5rem;
}

.knopbox ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 46px;
}

.HomePic {
    display: none;
}

@media screen and (min-width: 768px){
    .box {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    .desktopHome {
        width: 40%;
        height: 100vh;
        border-right: solid 1rem;
        border-color: var(--gold);
    }
    .HomePic {
        display: block;
        width: 60%;
        height: 100vh;
        background-size: cover;
        background-position: center;
     
    }
    .HomePic img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* instellingen/options scherm */
.options-head {
    display: flex;
    justify-content: right;
    margin: 1rem 1rem 0 0;
}

.x {
    display: flex;
    flex-direction: column;
}
.x span a{
    padding: .1rem 2rem;
    line-height: 0;

}

.x span:first-child {
    transform: translateY(.55rem) rotate(45deg);
    background-color: var(--gold);
}

.x span:last-child {
    transform: translateY(-.55rem) rotate(-45deg);
    background-color: var(--darkblue);
}

.Optionbox {
    height: 70vh;
}

.Optionbox h1 {
    text-align: center;
    color: var(--gold);
    text-shadow: var(--darkblue) 1rem;
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 10rem;
    font-weight: 700;
}

.Optionbox section {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

.Optionbox .section1 button {
    border: none;
    background: none;
    cursor: pointer;
}

.Optionbox .section1 button img {
    width: 70%;
    height: auto;
}

.Optionbox .section2 div {
    margin: auto 0;
}

.Optionbox .section2 {
    gap: 1rem;
}

.language {
    display: flex;
    gap: 1rem;
}

.language button {
    font-size: 2rem;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 1.2rem;
    cursor: pointer;
}

.language button:first-child {
    background-color: var(--darkblue);
    color: var(--bg);
}

.language button:last-child {
    background-color: var(--gold);
    color: var(--primary);
}

.language button:hover {
    background-color: var(--darkblue);
    color: var(--bg);
}

#regels {
    display: block;
    border: 2px solid var(--gold);
    background: var(--black);
    width: 80%;
    margin: 1rem auto;
    border-radius: 10px;
}

#regels a {
    text-decoration: none;
    color: var(--gold);
    font-size: 3rem;
    font-weight: 700;
    padding: 0 35%;
}

.smlinks ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.smlinks ul li {
    padding: 1rem;
    border-radius: 50%;
    height: auto;
    background: var(--black);
}

.smlinks ul li a {
    text-decoration: none;
    color: var(--gold);
    font-size: 2.5rem;
}

/*lvl selection menu*/


/*header*/

.container_lvl {
    max-width: 120rem;
    margin: 0 auto;
    padding: 1rem;
    background-image: url("/assets/images/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}

.headerLevel img    {
    position: absolute;
    height: 8rem;
    margin-bottom: 1.2rem;
}

h1 {
    font-size: 4rem;
    margin: 0 auto;
    color: var(--darkblue);
    font-weight: 800;
    -webkit-text-stroke: 0.2rem var(--gold);
}

.lvl_select {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 16, 100,0.7);
    border: 1rem solid;
    border-color: var(--gold);
    border-radius: 5rem;
    padding: 1rem;
}

.lvl_select section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
}

.lvl_select section h2 {
    font-size: 2rem;
    padding-top: 2rem;
    align-self: center;
}

.lvl_select ul {
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    margin: 0 auto;
    gap: 1.5rem;
    list-style: none;
}
@media (min-width: 500px) {
    .lvl_select ul {
        grid-template-columns: auto auto; /* Add an additional column */
    }
}
@media (min-width: 750px) {
    .lvl_select ul {
        grid-template-columns: auto auto auto auto; /* Add an additional column */
    }
}
@media (min-width: 1024px) {
    .lvl_select ul {
        grid-template-columns: auto auto auto auto auto; /* Add an additional column */
    }
}

.lvl_select section button {
    font-size: 2rem;
    border: none;
    border-radius: 2rem;
    padding: 2rem 2.5rem;
    cursor: pointer;

}

.lvl_select_e h2 {
    color: var(--green);
}

.lvl_select_e button {
    background-color: var(--green);
    color: var(--bg);
}

.lvl_select_m h2 {
    color: var(--yellow);
}

.lvl_select_m button {
    background-color: var(--yellow);
    color: var(--bg);
}

.lvl_select_h h2 {
    color: var(--red);
}

.lvl_select_h button {
    background-color: var(--red);
    color: var(--bg);
}

/*Game venster*/
.container_game{
    max-width: 120rem;
    margin: 0 auto;
    padding: 1rem;
    background-image: url("/assets/images/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
    height: 100vh;
}
.game {
    background-color: rgb(0, 16, 100,0.7);
    border: 1rem solid;
    border-color: var(--gold);
    border-radius: 5rem;
    height: 90vh;
    padding-top: 1rem;
}
.game-head {
    position: absolute;
    display: flex;
    justify-content: right;
    right: 0;
    margin-bottom: 2rem;
    margin-right: 0rem;
}
.game .btn{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 3rem 3rem 0;
}
.pieces{
    display: flex;
    justify-content: space-between;
}
.controls{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
}
.pause {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
}
.controls button{
    color: var(--gold);
    font-size: 2.5rem;
    list-style: none;
    margin: 1rem 0;
    border: 0.2rem solid var(--gold);
    background: var(--darkblue);
    border-radius: .625rem;
    text-align: center;
    padding: .5rem 1.5rem;
}

.pause img {
    width: 3rem;
    height: auto;
}
canvas{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: center;
    border-radius: 2rem;
}
.canvas_section{
    display: flex;
    background-color: var(--darkblue);
    margin: auto;
    margin-top: -18rem;

}
.canvas_section :first-child{
    display: none;
}
.popup{
    visibility: hidden;
    color: var(--bg);
    z-index: 300000;
    position: absolute;
    display: flex;
    background-color: rgba(141, 141, 141, 0.80);
    border-radius: 2rem;
    border: var(--gold) solid;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    width: 50vw;
    top:10%;
    left:25vw
}
.popup > button{
    display: flex;
    background:none;
    border:none;
    align-items: flex-end;
}
.popup section{
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem ;
}
.popup.open {
    visibility: unset;
    animation: slideIn 0.9s ease-in-out forwards;
}
@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(50%);

    }
}
.Timer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.Time {
    display: flex;
    justify-content: center;
    color: var(--gold);
    border: .5rem solid var(--gold);
    background: var(--darkblue);
    padding: .5rem 1.5rem;
    border-radius: .625rem;
    gap: 0.5rem;

}

.Timer h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 46px;
}

.Time div {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 46px;
}

/* regels */
.container_rules{
    padding-top: 1rem;
    height: 100%;
    background-image: url("/assets/images/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}


.carousel {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.3s ease;
}

.carousel-item {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5rem;
    height: 2.5rem;
    color: var(--gold);
    -webkit-text-stroke: 0.3rem var(--darkblue);
    font-size: 10rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.carousel-btn:hover {
    color: var(--darkblue);
    -webkit-text-stroke: 0.3rem var(--gold);
}

.carousel-btn-left {
    left: 10px;
}

.carousel-btn-right {
    right: 10px;
}

.stappen {
    color: var(--white);
    display: block;
    width: 60%;
    height: auto;
    background-color: rgb(0, 16, 100,0.7);
    border: 1rem solid;
    border-color: var(--gold);
    border-radius: 5rem;
    padding: 1rem;
}

.stappen h1 {
    width: 100%;
    text-align: center;
}
.stappen p {
    width: 100%;
    text-align: center;
}

/*succes*/
.container_succes{
    max-width: 120rem;
    margin: 0 auto;
    padding: 1rem;
    background-image: url("/assets/images/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
}
.lvl_complete{
    display: flex;
flex-direction: column;
background-color: rgb(0, 16, 100,0.7);
border: 1rem solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
border-color: var(--gold);
border-radius: 5rem;
padding: 5rem;
margin: auto;
}
.checked {
    color: orange;
  }
.stars .fa{
  font-size: 5rem;
  -webkit-text-stroke: 0.2rem var(--gold);
}
.stars div{
  display: none;
  margin: auto;
  gap: 2rem  ;
}
.stars{
    margin: auto;
    padding: 3rem;
}
.lvl_complete .knopbox li{
    border-color: var(--white);
}

